*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    font-family: var(--font-title);
}

:root {
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;

  --color-secondary: #7C3AED;
  --color-secondary-hover: #6D28D9;

  --color-nav: #4F46E5;

  /* 🔥 BACKGROUND MELHORADO */
  --color-background: #F3F4F8; /* mais suave e menos “branco estourado” */
  --color-surface: #FFFFFF;

  /* textos */
  --color-text-main: #111827;
  --color-text-secondary: #4B5563;

  --color-border: #E5E7EB;

  /* ❤️ favorito mais “emocional” */
  --color-favorite: #F43F5E;

  /* ✨ opcional (destaque) */
  --color-accent: #10B981;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --shadow-sm: 0 2px 4px rgba(0,0,0,0.05);
  --shadow-md: 0 6px 16px rgba(0,0,0,0.08); /* sombra um pouco mais elegante */
  
  --font-main: 'Inter', sans-serif;
  --font-title: 'Poppins', sans-serif;
}